<div class="democracy_reject_post" id="democracy_reject_post_form" style="padding:10px;">
	<input id="democracy_reject_post_form_id" type="hidden" value="{{{postId}}}">

	<p id="democracy_reject_post_form_response"></p>
	<p>
		<textarea
			id="democracy_reject_post_form_textarea"
			rows="5"
			placeholder="{{{message}}}"></textarea>
	</p>

	<p>
		<input
			type="submit"
			name="democracy_reject_post_form_send"
			id="democracy_reject_post_form_send"
			class="button button-primary button-large"
			value="Ablehnen" />
	</p>
</div>